.DS_Store
client/node_modules/
client/.DS_Store
client/dist
server/node_modules/
server/.DS_Store

# local env files
client/.env.local
client/.env.*.local

server/.env.local
server/.env.*.local

# Log files
client/npm-debug.log*
client/yarn-debug.log*
client/yarn-error.log*

server/npm-debug.log*
server/yarn-debug.log*
server/yarn-error.log*

# Editor directories and files
client/.idea
client/.vscode
client/*.suo
client/*.ntvs*
client/*.njsproj
client/*.sln

server/.idea
server/.vscode
server/*.suo
server/*.ntvs*
server/*.njsproj
server/*.sln
